.titleDivStyle{
    height: 50px;
}
.titleStyle{
    font-size: 22px;
}
.addressStrle{
    font-size: 16px;
    margin: 0 20px 0 20px;
}
.searchDivStyle{
    margin-bottom: 15px;
}
.inputStyle{
    width: 250px;
}
.inputStyle2{
    width: 350px;
}
.btnStyle{
    margin-left: 10px;
}


/* “更多”的第一个抽屉下方div样式 */
.oneDrawerDiv{
    position: absolute;
    bottom: 2px;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 15px 30px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.drawerTitleStyles{
    font-size: 18px;
}

/* CreateHousse的样式 */
:global .ant-form-item {
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 2px;
    vertical-align: top;
}
/* 楼宇管理的搜索、点击 */
:global .ant-form-item-control {
    position: relative;
    line-height: 31.9999px;
    zoom: 1;
}
/* CreateHouse中样式 */
.stepscontent {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 150px;
    text-align: center;
    padding-top: 60px;
}
