.titleDivStyle{
    height: 50px;
}
.titleStyle{
    font-size: 22px;
}
.addressStrle{
    font-size: 16px;
    margin: 0 20px 0 20px;
}
.searchDivStyle{
    margin-bottom: 15px;
}
.inputStyle{
    width: 250px;
}
.inputStyle2{
    width: 350px;
}
.btnStyle{
    margin-left: 10px;
}

/* “更多”的第一个抽屉下方div样式 */
.oneDrawerDiv{
    position: absolute;
    bottom: 2px;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 15px 30px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.drawerTitleStyles{
    font-size: 18px;
}

/* CreateHouse中样式 */
.stepscontent {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 150px;
    text-align: center;
    padding-top: 60px;
}

.Container{
    display:flex;
    flex:1;
    min-width:1080px;
    flex-direction:column;
    padding: 0 50px;

}
.searchView{
    width:100%;
    padding:35px 0 45px;
}
.dividingLine{
    width:100%;
    height:3px;
    background:#0ff;
    margin-bottom:20px;
    box-shadow: 2px 2px 2px rgba(0,130,130,0.1);
}
.services{
    display:flex;
    flex:1;
    justify-content:space-around;
    margin-top:15px;
    margin-bottom:20px;
}
.service {
    display:flex;
    width:250px;
    height:190px;
    border:1.5px solid #e6e6e6;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.05);

}
.serviceImg{
    width:65px;
    height:65px;
    margin-bottom:15px;
}
.dynamics{
    display:flex;
    flex:1;
    justify-content:space-around;
    margin-top:15px;
    margin-bottom:20px;
    flex-wrap: wrap;
}
.dynamic{
    display:flex;
    width:350px;
    height:130px;
    border:1.5px solid #e6e6e6;
    flex-direction:column;
    align-items:space-between;
    justify-content:space-between;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.05);
    margin-bottom:20px;
    padding:16px;
}
.dynamicTitle{
    color:#333;
    font-weight:blod;
    font-size:14px;
    white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.dynamicAbout{
    color:#999;
    font-size:14px;
    white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.dynamicDescribe{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
}
.dynamicCome,.dynamicTime{
    color:#999;
    font-size:12px;
}
.allCompanys{
    display:flex;
    justify-content:space-between;
    background:#0ff;
    height:35px;
    padding: 0 15px;
    border-radius:4px;
    border:1px solid #ccc;
    margin-bottom:20px;
}
.allCompanys div{
    display:flex;
    align-items:center;
    color:#444;
}
.allCompanys div i{
    color:#88d;
    margin-right:5px;
}
.more{
    color:#88d
}
.company{
    padding:15px;
    display:flex;
    flex:1;
    justify-content:space-between;
    align-items:center;
    border-radius:15px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
    margin-bottom:15px;
}
.company img{
    width:100px;
    height:100px;
    margin-right:15px;
}
.about{
    display:flex;
    flex:1;
    display:flex;
    flex-direction:column;
}
.column{
    display:flex;
    flex-direction:column;
    flex:1;
}
.row{
    display:flex;
    flex-direction:row;
}
.companyTypes{
    margin : 10px 0;
}
.columnItem{
    margin-bottom:8px;
}
.columnItem span{
    color:#99c
}
.bottom{
    height:100px;
}
.end{
    display:flex;
    justify-content:flex-end;
    padding-top:15px;
}
.radio{
    width:100%;
    justify-content:center;
    align-items:center;
    display:flex;
    margin-top:45px;
}
.flex{
    display:flex;
    width:350px;
    justify-content:space-between;
}
.lookMore{
    float: right;
    color:#88d;
    font-size:16px;
    line-height: 44px;
}