@import '~ThemeVariables';

.header {
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 15px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.title {
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 90px;
}

.fold {
    cursor: pointer;
    font-size: 20px;
}

.bell {
    font-size: 20px;
    margin-right: 20px;
    top: 3px;
}

.uname {
    color: #fff;
    margin-left: 8px;
}

.linkBtn {
    color: #1890ff;
    cursor: pointer;
}

.login {
    cursor: pointer;
    height: 64px;
    line-height: 64px;
    text-align: right;
    width: 160px;
}
