.carousel {
    width: 600px;

    /* height: 400px; */
}

.carImg {
    height: 80px;
    padding: 2px;
    width: 80px;
}

.carousel img {
    height: 400px;
}

.littleThumb {
    display: flex;
    left: 20px;
    list-style: none;
    margin: 0;
    max-width: 560px;
    padding: 0;
    position: absolute;
    right: 20px;
}

.selected {
    border: 1px solid #000;
}

.guideBox {
    align-items: center;
    background: #ccc;
    cursor: pointer;
    display: flex;
    height: 72px;
    justify-content: center;
    width: 20px;
}
