.fullScreen {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #fff;

    & img {
        width: 4.74rem;
    }

    & .des {
        font-size: 18px;
        margin-top: 0.2rem;
        color: #606060;
        font-weight: bold;
    }
}
