.chartBox {
    height: 290px; 
    display: flex; 
    margin-bottom: 15px;
    background-color: #fff;
    flex-direction: column;
}
.chartTitle {
    padding: 10px 10px 0 10px;
    font-size: 16px;
}