@import '~ThemeVariables';
.routesDiv{
    height: calc(100vh - var(--headerHeight) - var(--footerHeight) - 50px);
    overflow-y: scroll;
}
/* 面包屑导航 */
.BreadcrumbSty{
    padding: 20px 60px;
}
/* 导航标题 */
.SubMenuTitle{
    font-size: 16px;
    color: rgb(134, 125, 125);
}
/* 公司详情卡片 */
.flexDiv{
    display: flex;
    flex-direction: row;
}
/* 卡片 */
.cardSty{
    margin: 0 50px 20px;
    /* 阴影（水平阴影的位置，垂直阴影的位置，模糊距离，颜色） */
    box-shadow: 1px 1px 6px rgba(0,0,0,.1);
}
/* 所有de表格所在卡片消除padding */
.messageCard{
    padding-bottom: 10px;
    & :global .ant-card-body {
        padding: 0;
        zoom: 1;
    }
    /* news新闻舆情的列表 */
    & :global .ant-list-item-action {
        flex: 0 0 auto;
        margin-left: 150px;
        padding: 0;
        font-size: 0;
        list-style: none;
    }
}
/* 表格样式-tr高度 */
.tabletr{
    height: 52px;
}
/* 有背景色的标题 */
.tdleft{
    width: 16%;
    border: 1px rgb(230, 235, 241) solid;
    background-color: rgb(244, 246, 250);
    text-align: center;
}
/* 无背景色的内容 */
.tdright{
    width: 34%;
    border: 1px rgb(230, 235, 241) solid;
    text-align: center;
}
/* 列表 */
.tableSty{
    width: 80%;
    margin: 0 0 20px 2%;
}
/* 新闻舆情-List-列表样式 */
.titleSty{
    font-size: 16px;
    font-weight: bold;
}
/* 新闻舆情-列表详情样式 */
.about{
    padding:  20px 0;
    color:#666
}
.newsTitleSty{
    font-size: 28px;
    font-weight: bold;
}
/* modal-发票抬头-表格 */
.modalTr{
    height: 30px;
}
.modalTd{
    font-weight: bold;
}
