.root {
    padding: 0 0.4rem;
    overflow: hidden;
}
.searchBox {
    padding: 0.4rem 0;
    display: flex;
    justify-content: center;
}
.titleChip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
        margin-left: 0.1rem;
    }
}
.itemCard {
    display: flex;
    padding: 0.3rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 4px 10px 0px rgba(167,191,227,0.37);
    border-radius:10px;
    margin: 0.2rem 0;
    & .avatar {
        width: 1.8rem;
        height: 1.8rem;
        border-radius:0;
        margin-right: 0.3rem;
        align-self: center;
    }
    & .intro {
        flex: 1;
        line-height: 29px;
    }
    & .title {
        color: #333333;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & span {
            margin-right: 10px;
        }
    }
    & .toobar {
       
    }
    & .info {
        display: flex;
        & > div {
            flex: 1;
            margin-right:10px;
        }
    }
    & .status {
        align-self: center;
        text-align: center;
    }
}
.stepCard {
    margin-top: 16px;
    border-radius: 6px;
    background-color: #fafafa;
    text-align: center;
}
/* 搜索 */
.searchChip {
    display: flex;
    width: 10rem;
    & :global .ant-select-selection {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    & :global .ant-input {
        border-radius: 0;
        border-left-width: 0;
        border-right-width: 0; 
    }
    & :global .ant-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    & .input {
        flex: 1;
        & :global .ant-select {
            width: 100%;
        }
        & :global .ant-select-selection {
            border-radius: 0;
            border-left-width: 0;
            border-right-width: 0;
           
        }
    }
}