.active {
    background-color: #1e90ff;
    border-radius: 5px;
    color: #fff;
}

.typeBut {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-right: 13px;
    padding: 1px 8px;
}
