@import '~ThemeVariables';

.menu {
    background: var(--sider-background);
    bottom: 0;
    color: #fff;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 64px;
    width: var(--siderWidth);

    & :global {
        & .ant-menu-item {
            font-size: 16px;
        }

        & .ant-menu-submenu-title {
            font-size: 16px;
        }

        & .ant-menu-sub {
            & .ant-menu-item {
                font-size: 14px;
            }
        }

        & .ant-menu-item > a {
            color: #fff;
        }

        & .ant-menu-submenu > .ant-menu {
            background: var(--sider-background);
        }
    }
}
