@import '~ThemeVariables';
.menu {
    width: var(--siderWidth);
    background: var(--sider-background);
    color: #ffffff;
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    & :global {
        & .ant-menu-item > a {
            color: #ffffff;
        }
    }
}