@import '~ThemeVariables';

.content {
    margin-left: var(--contentGutter);
    margin-right: var(--contentGutter);
    margin-top: calc(var(--headerHeight) + var(--contentGutter));
    overflow: auto;

    & .body {
        background-color: var(--default-background);
        min-height: calc(100vh - var(--headerHeight) - var(--footerHeight) - var(--contentGutter));
    }
}
