.nums {
    display: flex; 
    margin-bottom: 10px;
    background-color: #fff;
    justify-content: space-between;
    padding: 10px;
}
.card {
    display: flex; 
    height: 330px;
    margin-bottom: 10px;
    background-color: #fff;
    flex-direction: column;
}
.title {
    padding: 10px 10px 0 10px;
    font-size: 16px;
}