.toalNav{
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 252, 252, 1);
    width:200px;
    text-align:center;
    min-height:535px;
}
.nav {
    color:#000;
    font-size:15px;
    height: 45px;
    line-height: 45px;
}
.active {
    background-color: #eee;
}
.container{
    display:flex;
    flex-direction:row;
}
.content{
    border: 1px solid #eee;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}
.lable{
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 130px;
    height: 60px;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
}
.search{
    width: 300px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}