.toalNav{
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 252, 252, 1);
    width:200px;
    text-align:center;
    min-height:535px;
}
.nav {
    color:#000;
    font-size:15px;
    height: 45px;
    line-height: 45px;
}
.active {
    background-color: #eee;
}
.container{
    display:flex;
    flex-direction:row;
}
.content{
    border: 1px solid #eee;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}
.lable{
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 130px;
    height: 60px;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
}
.search{
    width: 7rem;
    height:0.4rem;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0.4rem;
}

.outerLayer{
    padding-left: 0.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.54rem;
    padding-right: 0.4rem;
}
.labelNav{
    font-size: 0.3rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(89,89,89,1);
}
.tabsStyle{
    margin-top: 0.3rem;
}
.rectangle{
    margin-top: 0.3rem;
    height: 7.8rem;
    background: rgba(255,255,255,1);
    box-shadow: 0px 0.04rem 0.1rem 0px rgba(167,191,227,0.37);
    border-radius: 0.1rem;
}
.spanStyle{
    margin-left: 0.4rem;
    margin-top: 0.48rem;
}
.labelCont{
    margin-left: 0.4rem;
    margin-top: 0.3rem;
}
.tagLabel{
    background: rgba(24,143,253,1);
    box-shadow: 0px 0.04rem 0.1rem 0px rgba(197,227,255,0.9);
    border-radius: 0.04rem;
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255,255,255,1);
    padding: 0.04rem 0.09rem 0.05rem 0.09rem;
}
.tagCont{
    height: 0.3rem;
    background: rgba(230,247,255,1);
    border-radius: 0.15rem;
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(24,143,253,1);
    line-height: 0.3rem;
    margin-left: 0.3rem;
}