@import '~ThemeVariables';
body {
  margin: 0;
  padding: 0;
  font-family: -var(--font-family-base);
  background-color: -var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
    margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
em {
    color: red;
    font-style: normal;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    border-radius: 6px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}

.ant-form-inline .ant-form-item-with-help {
    margin-bottom: 0;
}
/* 时间轴-最后一行高度太高 */
.ant-timeline-item-last > .ant-timeline-item-content {
    min-height: 0px;
}
/* 左侧菜单 */
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #1156A2;
}
/* rem适配 */
@media screen and (min-width: 1200px) {
    html {
        font-size: 625%;
        /* font-size: 395%; */
    }
}
@media screen and (min-width: 1900px) {
    html {
        font-size: 625%;
    }
}
/* antd中table表格字体 */
.ant-table-tbody{
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(89,89,89,1);
}
/* table表格-表头字体 */
.ant-table-thead{
    font-size:0.14rem;
    font-family:PingFangSC-Semibold;
    font-weight:600;
}
/* table组件-分页距离表格的间距 */
.ant-table-wrapper .ant-table-pagination.ant-pagination{
     margin-top: 0.4rem;
}
.ant-table-content .ant-table-thead > tr > th{
background:rgba(232,232,232,1)
}