.border {
    align-items: flex-end;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}

.items {
    display: flex;
    padding: 10px;
    padding-left: 25px;
    padding-top: 25px;
}

.item {
    color: #555;
    padding-right: 15px;
}

.itemlast {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -3px;
}
