.title {
    align-items: center;
    background-color: rgba(0, 40, 77, 1);
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    height: 64px;
    justify-content: center;
    text-align: center;

    & img {
        margin-right: 5px;
        width: 40px;
    }
}
